.container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Alinhar o conteúdo ao centro */
}

.logo {
  margin-bottom: 20px; /* Adicionar margem inferior para separar do formulário */
}

.logo img {
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

form {
  margin-top: 20px;
}

form input[type="text"],
form input[type="password"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Estilos para tornar a página responsiva */

/* Estilos para telas menores que 600px (exemplo: smartphones) */
@media (max-width: 600px) {
  .container {
      width: 90%;
  }
  .logo img {
      width: 100px;
      height: 100px;
  }
  h2 {
      font-size: 24px;
  }
  form {
      width: 100%;
  }
}

/* Estilos para telas maiores que 600px (exemplo: tablets e computadores) */
@media (min-width: 601px) {
  .container {
      width: 400px;
  }
  .logo img {
      width: 150px;
      height: 150px;
  }
  h2 {
      font-size: 32px;
  }
  form {
      width: 100%;
  }
}